body {
  font-family: Arial, sans-serif;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
section {
  padding: 80px 0;
}

.nav-bar-2 {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid black 1px;
}

.nav-bar-2 .nav-link,
.nav-bar-2 .navbar-brand {
  color: rgb(126, 126, 126);
  transition: color 0.3s;
}
.navbar-scrolled {
  background-color: white;
}

.nav {
  position: fixed;
}
.gaza-form {
  color: black;
  justify-content: end;
}
.title {
  text-align: center;
  margin-top: 100px;
}
.project-name {
  text-align: center;
  margin: 50px;
}
.portfolio-item:hover {
  cursor: pointer;
}
.carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.more-carousel img {
  max-height: 600px;
  object-fit: contain;
}
.carousel-inner {
  margin-top: 150px;
}

.more-carousel {
  visibility: hidden;
  position: fixed; /* 화면 기준으로 고정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3333; /* 아주 높은 값으로 맨 위에 */
  background-color: rgba(88, 88, 88, 0.664); /* 반투명 배경 */
  opacity: 0;
  /* 서서히변함 */
  transition: all 1s;
}
.carousel-show {
  visibility: visible;
  opacity: 1;
}
.carousel-option {
  max-height: 500px;
  max-width: 800px; /* 원하는 너비 */
  margin: 50px auto; /* 가운데 정렬 + 위쪽 여백 */
  border-radius: 10px; /* 모서리 둥글게 (선택사항) */
  overflow: hidden; /* 둥근 모서리에 이미지 잘림 방지 */
}
.close-btu {
  position: fixed;
  right: 50px;
  top: 40px;
  width: 30px;
  height: 30px;
  color: white;
}
.close-btu:hover {
  cursor: pointer;
}

.call-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0; /* 버튼 색상 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.call-btn:hover {
  background-color: #2980b9; /* 호버 시 색상 */
}
@media screen and (max-width: 768px) {
  .intro-text {
    text-align: center;
  }
}
